.vid-container {
  border: 1px solid red;
  height: 300px;
}

.time-select {
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 40px;
  position: absolute;
  top: 10%;
  left: 52px;
}

.time-display {
  position: absolute;
  left: 40%;
  top: 90%;
}

.player-container {
  border: 4px solid black;
  position: absolute;
  top: 10%;
  left: 45%;
  height: 152px;
  width: 152px;
  border-radius: 50%;
}

.play {
  position: relative;
  left: 38px;
  top: 16px;
}

.sound-picker {
  display: flex;
  flex-direction: column;
  gap: 10vw;
  width: 120px;
  position: absolute;
  left: 80%;
  top: 12%;
}
